@{
    ViewBag.Title = "Page Not Found Error";
}
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<h2 class="myriad-pro-font">Page Not Found</h2>
<p class="center myriad-pro-font">The Page you are looking for, either it doesn't exist, or you don't have permission to view it.</p>