<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vir.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.png"/>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <img src="~/Images/back.jpg" style="top:0px;left:0px;height:100%;width:100%;position:fixed;opacity:0.12;" />
    <div class="navbar navbar-account">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand brand-account black" href="/">
                        <img src="~/Images/brand.png" alt="Virtual Classes">Virtual Classes
                    </a>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <hr />
    <div class="container">
        <p>&copy; @DateTime.Now.Year - Virtual Classes</p>
        <br />
    </div>
    
</body>
</html>